Writable:
  LogLevel: "DEBUG"

  Pipeline:
    ExecutionOrder: "SetResponseData"

    Functions:
      SetResponseData:
        Parameters:
          ResponseContentType: ""
      FilterByProfileName:
        Parameters:
          ProfileNames: ""
          FilterOut: "false"
      FilterByDeviceName:
        Parameters:
          DeviceNames: ""
          FilterOut: "false"
      FilterBySourceName:
        Parameters:
          SourceNames: ""
          FilterOut: "false"
      FilterByResourceName:
        Parameters:
          ResourceNames: ""
          FilterOut: "false"

Service:
  Host: "rules-engine.edgex.ziti"
  Port: 80
  StartupMsg: "app-rules-engine has Started"
  SecurityOptions:
    ListenMode: "zerotrust"
    OpenZitiController: "ec2-3-134-108-218.us-east-2.compute.amazonaws.com:8441"
    OpenZitiServiceName: "edgex.rules-engine"

MessageBus:
  Optional:
    ClientId: "app-rules-engine"

Trigger:
  # Note that the MessageBus connection above is used by edgex-messagebus trigger which is the default set in common config
  # Default value for SubscribeTopics is aslo set in common config
  PublishTopic: "rules-events"  # Base topic is prepened to this topic when using edgex-messagebus
